{{!-- <h2 class="country__name">Имя: {{name}}</h2>
<img src="{{flags}}" alt="{{name}}">
<div class="country__name-title">
  <Ul class="country__name-title-list">
      
<li class="country__name-title-list-capital">{{capital}}</li>
<li class="country__name-title-list-population">{{population}}</li>
<li class="country__name-title-list-languages">{{languages}}</li>
<li class="country__name-title-list-timezones">{{timezones}}</li>
{{/each}}
  </Ul>
</div>

 --}}





{{!-- <div class="card">
  <div class="card-img-top">
    <img src="{{sprites.front_default}}" alt="{{name}}">
  </div>
  <div class="card-body">
    
    <p class="card-text">Вес: {{weight}}</p>
    <p class="card-text">Рост: {{height}}</p>

    <p class="card-text"><b>Умения</b></p>
    <ul class="list-group"></ul>
    {{#each abilities}}
      <li class="list-group-item">{{ability.name}}</li>
    {{/each}}
    </ul>
  </div>
</div>
 --}}
