
<h2 class="country__name">{{name}}</h2>
<div class="country">

 
  <ul class="country__name-title-list">
      
<li class="country__name-title-list-capital">{{capital}}</li>
<li class="country__name-title-list-population">{{population}}</li>

  {{#each languages}}
      <li class="list-group-item">{{this.name}}</li>
    {{/each}}

  </ul>

  <img class="flag-png" src="{{flags.png}}" alt="{{name}}">


</div> 













{{!-- <div class="card">
  <div class="card-img-top">
    <img src="{{sprites.front_default}}" alt="{{name}}">
  </div>
  <div class="card-body">
    
    <p class="card-text">Вес: {{weight}}</p>
    <p class="card-text">Рост: {{height}}</p>

    <p class="card-text"><b>Умения</b></p>
    <ul class="list-group"></ul>
    {{#each abilities}}
      <li class="list-group-item">{{ability.name}}</li>
    {{/each}}
    </ul>
  </div>
</div>
 --}}
